<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block javascripts_head %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/handlebars-v4.0.5.js') }}"></script>
            <script src="{{ asset('bundles/component/js/Utils/utils.js') }}"></script>
            <script src="{{ asset('bundles/feed/js/base.js') }}"></script>
        {% endblock %}
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('bundles/feed/css/blog-home.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    <!-- Page Content -->
    <div class="container">
       <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    {{ page_header }}
                </h1>
                {% block content %}{% endblock %}
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                {% block sidebar %}{% endblock %}
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
    {% block javascripts_footer %}
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
