<style type="text/css">
    a:hover {
        cursor:pointer;
    }
</style>

{% block javascripts_head %}
    <script>
        var ajaxUrlCategories = '{{ ajax_url }}',
            formatCategories = '{{ format }}';
    </script>
    <script src="{{ asset('bundles/component/js/Components/categories.js') }}"></script>
{% endblock %}

<div id="categories_list" class='well'>
    <h4>Blog Categories</h4>
    <div class='row'>
        <div class='col-lg-12'>
            <ul id='categories_list' class='list-unstyled'></ul>
        </div>
    </div>
</div>

<script id='categories' type='text/x-handlebars-template'>
    {% verbatim %}
        {{#categories}}
            <li><a class='category_link' data-id='{{ id }}'>{{ name }}</a></li>
        {{/categories}}
    {% endverbatim %}
</script>