<style type="text/css">
    #main_news {
        margin-bottom: 20px;
    }
</style>

{% block javascripts_head %}
    <script>
        var ajaxUrlNews = '{{ ajax_url }}',
            formatNews = '{{ format }}';
    </script>
    <script src="{{ asset('bundles/component/js/Components/news.js') }}"></script>
{% endblock %}

<div id='main_news' class="subscribers-categoryClick"></div>

<!-- Pager -->
<button id='more' class='more btn btn-primary btn-block'>
    More <span class='caret'></span>
</button>

<script id='news' type='text/x-handlebars-template'>
    {% verbatim %}
        {{#news}}
            <h2>
                <a href='{{link}}'>{{title}}</a>
            </h2>
            <p><span class='glyphicon glyphicon-time'></span>{{pubDate}}</p>
            <img class='img-responsive' src='{{media.url}}' alt=''>
            <p>{{description}}</p>
            <a class='btn btn-primary' href='#'>Read More <span class='glyphicon glyphicon-chevron-right'></span></a>
        {{/news}}
    {% endverbatim %}
</script>