{% extends 'base.html.twig' %}

{% block title %}RSS feeds{% endblock %}

{% block javascripts_head %}
    {{ parent() }}

    <script>
        function more() {
            var offset = 0;

            function getOffset () {
                return offset;
            }
            function setOffset (count) {
                offset = count;
            }

            return {
                getOffset : getOffset,
                setOffset : setOffset
            }
        }

        $(document).ready(function() {
            var template,
                offsetHandler = more(),
                ajaxHandler = ajaxManager();
            var init = function (done, error) {
                if (!$.isFunction(done)) {
                    done = function (resolvedData) {
                        var source = $('#news').html();
                        if (!template) {
                            template = Handlebars.compile(source);
                        }
                        if ($.isPlainObject(resolvedData)
                            && 'news' in resolvedData
                        ) {
                            $('#main_news').append(template(resolvedData));
                        }
                        if (resolvedData.count >= resolvedData.total) {
                            $('#more').hide();
                        }
                        offsetHandler.setOffset(data.count);
                    };
                }
                if (!$.isFunction(error)) {
                    error = function (jqXHR, textStatus) {
                        $('#error').html('Error from server with status ' + textStatus);
                    };
                }
                ajaxHandler.init({{ ajax_url }}, {{ format }}, done, error);

                return {
                    process: function(processData) {
                        ajaxHandler.send(processData);
                    }
                }
            };

            init().process(offsetHandler.getOffset());

            $('#more').click(
                function () {
                    var count = offsetHandler.getOffset();
                    init().process({offset : count})
                }
            );
/*
            var data = {
                news: [{
                    media: {
                        link: 'https://lenta.ru/news/2017/02/23/maslievdoping'
                    },
                    title: 'Front End Technical Lead',
                    description: '<![CDATA[Российского волейболиста австрийского клуба «Хипо Тироль» Станислава Маслиева дисквалифицировали на четыре года за употребление допинга. Проба была взята 9 ноября прошлого года после матча квалификации Лиги чемпионов с «Хапоэлем» из Мате-Ашеры. В крови спортсмена обнаружили следы стероида станозолола.]]>',
                    lastModified: 'Thu, 23 Feb 2017 20:13:00 +0300',
                }
                ],
                count: 40,
                total: 50
            };
*/
        });
    </script>
{% endblock %}

{% block content %}
    {% verbatim %}

    <div id='main_news'></div>
    <script id='news' type='text/x-handlebars-template'>
        {{#news}}
        <h2>
            <a href='{{link}}'>{{title}}</a>
        </h2>
        <p><span class='glyphicon glyphicon-time'></span>{{lastModified}}</p>
        <hr>
        <img class='img-responsive' src='{{media.url}}' alt=''>
        <hr>
        <p>{{description}}</p>
        <a class='btn btn-primary' href='#'>Read More <span class='glyphicon glyphicon-chevron-right'></span></a>

        <hr>
        {{/news}}
    </script>

    <!-- Pager -->
    <button id='more' class='more btn btn-primary btn-block'>
        More <span class='caret'></span>
    </button>

    {% endverbatim %}
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Category:index')) }}
{% endblock %}