<style type="text/css">

</style>
<script>
    $(document).ready(function() {
        function news() {
            var templateManager,
                ajaxHandler,
                offsetHandler,
                moreButton = $('#more');

            function more() {
                var offset = 0;

                function getOffset () {
                    return offset;
                }
                function addOffset (count) {
                    offset += count;
                }
                function clearOffset () {
                    offset = 0;
                }
                function setOffset (count) {
                    offset = count;
                }

                return {
                    getOffset : getOffset,
                    setOffset : setOffset,
                    clearOffset: clearOffset,
                    addOffset: addOffset
                }
            }

            function ajaxSuccess(resolvedData) {
                var newsTemplate = templateManager.getTemplate('news');

                if ($.isPlainObject(resolvedData)
                    && 'data' in resolvedData
                    && newsTemplate
                ) {
                    $('#main_news').append(newsTemplate({
                        news: resolvedData.data
                    }));
                }
                if ($.isPlainObject(resolvedData)
                    && 'error' in resolvedData
                ) {
                    var error = {
                        message: resolvedData.error,
                        name: "Server error",
                        code: 500
                    };
                    errorHandler(error);
                }

                offsetHandler.addOffset(resolvedData.count);
                ajaxHandler.addParameters('offset', offsetHandler.getOffset());

                if (offsetHandler.getOffset() >= resolvedData.total) {
                    moreButton.hide();
                } else {
                    moreButton.show();
                }
            }

            function ajaxError(jqXHR, textStatus) {
                var error = {
                    message: "Error from server with status " + textStatus,
                    name: "Ajax call"
                };
                errorHandler(error);
            }

            function run(processData) {
                ajaxHandler.addParameters(processData);
                getNews();
            }

            function getNews() {
                if (!ajaxHandler.send()) {
                    var error = {
                        message: "Ajax is not inited",
                        name: "Ajax call"
                    };
                    errorHandler(error);
                }
            }

            function init() {
                moreButton.hide();
                offsetHandler = more();
                offsetHandler.clearOffset();
                templateManager = templateHandler();
                templateManager.process('news');
                ajaxHandler = ajaxManager();
                ajaxHandler.init('{{ ajax_url }}', '{{ format }}', ajaxSuccess, ajaxError);

                $('#main_news').on('categoryClick', function(e, eventInfo) {
                    offsetHandler.clearOffset();
                    $('#main_news').html('');
                    run({slug : eventInfo.category_slug, 'offset' : offsetHandler.getOffset()});
                });

                moreButton.click(function () {
                    $(document).trigger('moreClickDocument', {});
                    getNews();
                });

                $(document).trigger('widgetInited', {widgetInstance: this});
            }

            function getName() {
                return 'news';
            }

            return {
                init: init,
                run: run
            }
        }

        $(document).trigger('widgetLoaded', {widgetInstance: news()});
    });
</script>

<div id='main_news' class="subscribers-categoryClick"></div>

<!-- Pager -->
<button id='more' class='more btn btn-primary btn-block'>
    More <span class='caret'></span>
</button>

<script id='news' type='text/x-handlebars-template'>
    {% verbatim %}
        {{#news}}
            <h2>
                <a href='{{link}}'>{{title}}</a>
            </h2>
            <p><span class='glyphicon glyphicon-time'></span>{{pubDate}}</p>
            <img class='img-responsive' src='{{media.url}}' alt=''>
            <p>{{description}}</p>
            <a class='btn btn-primary' href='#'>Read More <span class='glyphicon glyphicon-chevron-right'></span></a>
        {{/news}}
    {% endverbatim %}
</script>